<div class = "resultsPage">
<a ui-sref='home'><img src='assets/images/home_icon.png' alt="home image" class="imageOfHome"/></a>
<a ui-sref='login' class="log-out">Log Out</a>
<div class="box">
  <p class="resultsTitle">Results</p>
  <p class="results">Score: {{score}}</p>
  <p class="key">Key: <br> 1-10 = These ups and downs are considered normal <br> 11-16 = Mild mood disturbance <br> 17-20 = Borderline clinical depression <br> 21-30 = Moderate depression <br> 31-40 = Severe depression <br> 40 and over = Extreme depression </p>
  <div class="previousresults"><a ui-sref = 'previousresults'><p class=buttontext>See previous results<p></a></div>
</div>
</div>
