@import 'https://fonts.googleapis.com/css?family=Quattrocento+Sans';
.imageOfHome {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
}
.assessmentsAvailable {
  text-align: center;
  margin-top: 130px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 70px;
}
.parent-of-assessments {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-around;;
  margin-top: 200px;
}
.assessments {
  /*border: red solid;*/
}
.assessments {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-left: 26px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 35px;
  border: lightblue solid;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 55px;
  background-color: white;
}
.homePage {
  background-image: url('../images/background-marsh.png');
  background-size: cover;
  height: 100vh;
}
.log-out {
  text-decoration: none;
  margin-top: 0px;
  margin-left: 30px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}
