.previousresultspage {
  background-image: url('../images/beautiful.jpg');
  background-size: cover;
  height: 100vh;
}
.boxForGraph {
  width: 700px;
  height: 550px;
  background-color: white;
  margin-left: 350px;
  margin-top: 50px;
  /*opacity: 0.9;*/
  display: flex;
  justify-content: center;
}

.boxForGraph h1 {
  color: black;
  z-index: 100;
}
