.take-assessment-page {
  background-image: url('../images/newmountain.jpg');
  overflow: scroll;
  background-size: cover;
  height: 100vh;
}
.assessmentName {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 30px;
  margin-top: 50px;
  color: black;
}
.assessmentDescription2 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  margin-left: 38px;
  margin-right: 110px;
  text-align: center;
}
.questions {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  height: 300em;
  width: 30%;
  margin-left: 0 px;
  text-align: center;
}
#key {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
}
a {
  text-decoration: none;
}
.resultsbutton {
  margin-left: 650px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
  border: black solid;
  width: 130px;
  color: white;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
}
.assessmentDescription {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  margin-left: 38px;
  margin-right: 110px;
  text-indent: 2.0em;
}
.questions2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 70px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  height: 400em;
  width: 30%;
  text-align: center;
}
.questions li {
  border: black solid;
  height: 250px;
  width: 1440px;
  background: gray;
  font-size: 30px;
  padding-top: 40px;
  margin-left: -166px;

}
.questions2 li {
  border: black solid;
  height: 250px;
  width: 1440px;
  background: gray;
  font-size: 30px;
  padding-top: 40px;
  margin-left: 0px;
  opacity: 0.9;
}
ul ol {
  margin-top: 100px;
}
